<a href="/dashboard"> &larr; Back to dashboard</a>
<article class="card" id="edit-post-form">  
  <h2 class="card-header">Edit Post</h2>

  <form class="card-body" class="edit-post-form">
    <div>
      <label class="form-label" for="post-title">Title</label>
      <input class="form-input" name="post-title" type="text" value="{{post.title}}" />
      </div>
      <div>
        <label class="form-label" for="post-content">Content</label>
        <input class="form-input" id="post-content" name="post-content" type="textarea" value="{{post.post_content}}"/>
    </div>
   
    <button class="btn" type="submit">Update Post</button>
    <button type="button" class="delete-post-btn btn">Delete</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>

