 <header class="hero">      
      <nav >
        <button class="btn-back" href="/">Home</button>
        <a class="btn-back" href="/dashboard">dashboard</a>
        {{#if loggedIn}}        
        <button id="logout" class="btn-back">logout</button>
        {{else}}
        <a class="btn-back" href="/login">login</a>
        {{/if}}
      </nav>
      </br>
      <h1 class="app-title">
        <a href="/">The Tech Blog</a>
      </h1>
    </header>
    
<ul  class="post-list">
  {{#each posts as |post|}}
  <li class="list-item">
    {{> post-info post }}
  </li>
  {{/each}}
</ul>