<form class="user-form" class="card">
  <div>
    <h3 class="card-header">Login</h3>
  </div>
  {{!-- <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div> --}}
  <form class="card-body">
      <div>
            <label class="form-label" for="username-login">Username</label>
            <input name="username" id="username-login" type="text" autofocus="true" class="form-input">
            {{!-- <button type="submit" class="btn">Get User</button> --}}
      </div>
      <div>
          <label class="form-label" for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
      </div>
      <div>
        <button type="submit" class="btn">Login</button>
      </div>
      
  </form>  
</form>

<form class="signup-form" class="card">
  <div>
    <h3 class="card-header">Sign Up</h3>
  </div>
  <div>
    <div>
    <label for="username-signup">Username</label>
    </div>
    <div>
    <input class="form-input" type="text" id="username-signup" />
    </div>
  </div>
  
  <div>
    <div>
    <label for="password-signup">Password</label>
    </div>
    <div>
    <input class="form-input" type="password" id="password-signup" />
    </div>
  </div>
  <div>
    <button class="btn" type="submit">Sign Up!</button>
  </div>
</form>

<script src="/javascript/login.js"></script>