<form class="card">
  <div>
    <h3 class="card-header">Login</h3>
  </div>
  {{!-- <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div> --}}
  <form id="user-form" class="card-body">
    <div>
          <label class="form-label" for="username">Username</label>
          <input name="username" id="username" type="text" autofocus="true" class="form-input">
          {{!-- <button type="submit" class="btn">Get User</button> --}}
    </div>
    <div>
    <label class="form-label" for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn">login</button>
  </div>
        </form>
  
  
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>