<a href="/dashboard"> &larr; Back to dashboard</a>
{{> post-info post}}

{{#if loggedIn}}
<form class="card" id="comment-form">
  <h2 class="card-header"></h2>
  <div class="card-body">
  <div>
    <label class="form-label">Comment</label>
    <textarea class="form-input" name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn" type="submit">Add comment</button>
    {{!-- <button type="button" class="upvote-btn">upvote</button> --}}
  </div>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}