<a href="/dashboard"> &larr; Back to dashboard</a>
{{> post-info post}}
</br>
{{#if loggedIn}}
<form class="card" id="comment-form">
  <h2 class="card-header"></h2>
  <div class="card-body">
    <div>
      <label class="form-label">Comment</label>
      <textarea class="form-input" name="comment-body"></textarea>
    </div>
    <div>
      <button class="btn" type="submit">Add comment</button>
    </div>
  </div>
</form>
</br>
{{/if}}

<div class="card card-body">
  {{> comments post.comments}}
</div>

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}